<a href="https://colab.research.google.com/github/carrieacheung/dash_apps/blob/main/state_shoreline_dash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
# Install jupyter-dash package

!pip install jupyter-dash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jupyter-dash in /usr/local/lib/python3.7/dist-packages (0.4.2)
Requirement already satisfied: dash in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (2.5.1)
Requirement already satisfied: ansi2html in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.7.0)
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.1.4)
Requirement already satisfied: retrying in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.3.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (5.5.0)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.5.5)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (4.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from ansi2html->jupyter-dash) (4.11.4)
Requirement already satisfied: flask-compress in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (1.12)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (5.5.0)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (5.0.0)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (1.0.1)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (1.15.0)
Requirement already satisfied: brotli in /usr/local/lib/python3.7/dist-packages (from flask-compress->dash->jupyter-dash) (1.0.9)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->ansi2html->jupyter-dash) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->ansi2html->jupyter-dash) (3.8.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.3.5)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (0.8.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (23.1.0)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (4.10.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->jupyter-dash) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (2.10)

In [46]:
# Install necessary libraries

import numpy as np
import pandas as pd
from sklearn import preprocessing
import plotly.graph_objects as go
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [47]:
# Build dataframe

code = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 
        'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
        'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 
        'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 
        'WI', 'WY']
state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 
         'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 
         'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 
         'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
         'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 
         'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 
         'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 
         'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
         'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
         'West Virginia', 'Wisconsin', 'Wyoming']
shoreline_mileage = [607, 33904, 0, 0, 3427, 0, 618, 381, 8436, 2344, 1052, 0, 
                     63, 45, 0, 0, 0, 7721, 3478, 3190, 1519, 3224, 189, 359, 0, 
                     0, 0, 0, 131, 1792, 0, 2625, 3375, 0, 312, 0, 1410, 140, 
                     384, 2876, 0, 0, 3359, 0, 0, 3315, 3026, 0, 820, 0]                  
area = [52420, 665384, 113990, 53179, 163695, 104094, 5543, 2489, 65758, 59425, 
        10932, 83569, 57914, 36420, 56273, 82278, 40408, 52378, 35380, 12406, 
        10554, 96714, 86936, 48432, 69707, 147040, 77348, 110572, 9349, 8723, 
        121590, 54555, 53819, 70698, 44826, 69899, 98379, 46054, 1545, 32020, 
        77116, 42144, 268596, 84897, 9616, 42775, 71298, 24230, 65496, 97813]
shoreline_area_ratio = np.array(shoreline_mileage)/np.array(area)     
population = [5024279, 733391, 7151502, 3011524, 39538223, 5773714, 3605944, 
              989948, 21538187, 10711908, 1455271, 1839106, 12812508, 
              6785528, 3190369, 2937880, 4505836, 4657757, 1362359, 6177224, 
              7029917, 10077331, 5706494, 2961279, 6154913, 1084225, 1961504, 
              3104614, 1377529, 9288994, 2117522, 20201249, 10439388, 779094, 
              11799448, 3959353, 4237256, 13002700, 1097379, 5118425, 886667, 
              6910840, 29145505, 3271616, 643077, 8631393, 7705281, 1793716, 
              5893718, 576851]
shoreline_population_ratio = np.array(shoreline_mileage)/np.array(population)                       
data = {'Code': code, 
        'State': state, 
        'Shoreline Mileage': shoreline_mileage, 
        'Area': area, 
        'Shoreline:Area': shoreline_area_ratio, 
        'Population': population,
        'Shoreline:Population': shoreline_population_ratio}
df = pd.DataFrame.from_dict(data)

In [48]:
df

,Code,State,Shoreline Mileage,Area,Shoreline:Area,Population,Shoreline:Population
0,AL,Alabama,607,52420,0.011580,5024279,0.000121
1,AK,Alaska,33904,665384,0.050954,733391,0.046229
2,AZ,Arizona,0,113990,0.000000,7151502,0.000000
3,AR,Arkansas,0,53179,0.000000,3011524,0.000000
4,CA,California,3427,163695,0.020935,39538223,0.000087
5,CO,Colorado,0,104094,0.000000,5773714,0.000000
6,CT,Connecticut,618,5543,0.111492,3605944,0.000171
7,DE,Delaware,381,2489,0.153074,989948,0.000385
8,FL,Florida,8436,65758,0.128289,21538187,0.000392
9,GA,Georgia,2344,59425,0.039445,10711908,0.000219
10,HI,Hawaii,1052,10932,0.096231,1455271,0.000723
11,ID,Idaho,0,83569,0.000000,1839106,0.000000
12,IL,Illinois,63,57914,0.001088,12812508,0.000005
13,IN,Indiana,45,36420,0.001236,6785528,0.000007
14,IA,Iowa,0,56273,0.000000,3190369,0.000000
15,KS,Kansas,0,82278,0.000000,2937880,0.000000
16,KY,Kentucky,0,40408,0.000000,4505836,0.000000
17,LA,Louisiana,7721,52378,0.147409,4657757,0.001658
18,ME,Maine,3478,35380,0.098304,1362359,0.002553
19,MD,Maryland,3190,12406,0.257134,6177224,0.000516
20,MA,Massachusetts,1519,10554,0.143926,7029917,0.000216
21,MI,Michigan,3224,96714,0.033335,10077331,0.000320
22,MN,Minnesota,189,86936,0.002174,5706494,0.000033
23,MS,Mississippi,359,48432,0.007412,2961279,0.000121
24,MO,Missouri,0,69707,0.000000,6154913,0.000000
25,MT,Montana,0,147040,0.000000,1084225,0.000000
26,NE,Nebraska,0,77348,0.000000,1961504,0.000000
27,NV,Nevada,0,110572,0.000000,3104614,0.000000
28,NH,New Hampshire,131,9349,0.014012,1377529,0.000095
29,NJ,New Jersey,1792,8723,0.205434,9288994,0.000193
30,NM,New Mexico,0,121590,0.000000,2117522,0.000000
31,NY,New York,2625,54555,0.048117,20201249,0.000130
32,NC,North Carolina,3375,53819,0.062710,10439388,0.000323
33,ND,North Dakota,0,70698,0.000000,779094,0.000000
34,OH,Ohio,312,44826,0.006960,11799448,0.000026
35,OK,Oklahoma,0,69899,0.000000,3959353,0.000000
36,OR,Oregon,1410,98379,0.014332,4237256,0.000333
37,PA,Pennsylvania,140,46054,0.003040,13002700,0.000011
38,RI,Rhode Island,384,1545,0.248544,1097379,0.000350
39,SC,South Carolina,2876,32020,0.089819,5118425,0.000562
40,SD,South Dakota,0,77116,0.000000,886667,0.000000
41,TN,Tennessee,0,42144,0.000000,6910840,0.000000
42,TX,Texas,3359,268596,0.012506,29145505,0.000115
43,UT,Utah,0,84897,0.000000,3271616,0.000000
44,VT,Vermont,0,9616,0.000000,643077,0.000000
45,VA,Virginia,3315,42775,0.077499,8631393,0.000384
46,WA,Washington,3026,71298,0.042442,7705281,0.000393
47,WV,West Virginia,0,24230,0.000000,1793716,0.000000
48,WI,Wisconsin,820,65496,0.012520,5893718,0.000139
49,WY,Wyoming,0,97813,0.000000,576851,0.000000

In [51]:
app = JupyterDash()

markdown_text = '''
# NOAA Shoreline Mileage Of the United States

Shoreline Mileage of the outer coast includes offshore islands, sounds, bays, rivers, and creeks
to the head of tidewater or to a point where tidal waters narrow to a width of 100 feet. For the
Great Lakes, shoreline mileage was measured in 1970 by the International Coordinating
Committee on Great Lakes Basic Hydraulic and Hydrologic Data and cross-referenced with U.S.
Lake Survey measurements for each state. In all cases, mileage was determined by using a
recording device on large-scale charts.
'''

app.layout = html.Div(children=[dcc.Markdown(children=markdown_text),
                                html.A(children='Source: Shoreline Data', 
                                       href='http://shoreline.noaa.gov/faqs.html', 
                                       target="_blank"),
                                html.Br(),
                                html.A(children='Source: Area Data', 
                                       href='https://www.census.gov/geographies/reference-files/2010/geo/state-area.html', 
                                       target="_blank"),
                                html.Br(),
                                html.A(children='Source: Population Data', 
                                       href='https://www.census.gov/data/tables/time-series/demo/popest/2020s-state-total.html', 
                                       target="_blank"),
                                html.P('Select Data'),
                                dcc.RadioItems(id='selection',
                                               options=["Shoreline Mileage", "Shoreline:Area", "Shoreline:Population"],
                                               value='Shoreline Mileage'),
                                dcc.Graph(id="graph", figure=fig)])

@app.callback(
    Output("graph", "figure"), 
    Input("selection", "value"))
def update_output(selection):
  colorscale = [[0, '#eeeeee'], [0.001, '#c2d1e0'], [0.025, '#adc2d6'],
                [0.05, '#a3bad1'], [0.075, '#99b2cc'], [0.1, '#8fabc7'],
                [0.2, '#85a3c2'], [0.3, '#7a9cbd'], [0.4, '#7094b8'],
                [0.5, '#668cb2'], [0.6, '#5c85ad'], [0.7, '#527da8'], 
                [0.8, '#4775a3'], [0.9, '#3d6e9e'], [1, '#336699']]
  fig = go.Figure(data=go.Choropleth(locations=df['Code'], # Spatial coordinates
                                     z=df[selection].astype(float), # Data to be color-coded
                                     locationmode='USA-states', # Set of locations match entries in `locations`
                                     colorscale=colorscale,
                                     colorbar_title=selection,
                                     marker_line_color='white'))
  fig.update_layout(geo=dict(scope='usa'),
                    title_text=selection)
  return fig

app.run_server(debug=True)

Dash app running on: